@import "font.css";

#content {
  flex-direction: column;
}
#content-project {
  width: 100vw;
  height: 100vh;
}
#content-profile {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}
#content-profile img {
  width: 230px;
  height: 230px;
  border-radius: 50%;
  margin: 150px 0 15px 0;
}
#content-profile span {
  margin-bottom: 20px;
}

#content.dark #mini-profile {
  border-right: 2px solid var(--color-light);
}
#content.light #mini-profile {
  border-right: 2px solid var(--color-dark);
}

#mini-profile {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 400px;
  height: 100%;
  font-family: "Noto Sans KR";
}
