@import "font.css";

#content {
  flex-direction: column;
}
#content-project {
  width: 100vw;
  height: 885px;
}
#content-home {
  width: 100vw;
  height: 885px;
}
#content-profile {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 885px;
}

#content.dark #mini-profile {
  border-right: 2px solid var(--color-light);
}
#content.light #mini-profile {
  border-right: 2px solid var(--color-dark);
}
#mini-profile {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 450px;
  height: 100%;
  font-family: "Noto Sans KR";
}
#mini-profile img {
  width: 230px;
  height: 230px;
  border-radius: 50%;
  margin: 150px 0 15px 0;
}
#mini-profile span {
  margin-bottom: 20px;
}

#mini-profile-icon.dark {
  color: var(--color-light);
}
#mini-profile-icon.light {
  color: var(--color-dark);
}
#mini-profile-icon {
  width: 30px;
  height: 30px;
}

#profile {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  margin-top: 100px;
}
#profile-text {
  display: flex;
  flex-direction: column;
  font-size: 25px;
}

#profile-skills.dark > div > span {
  border-bottom: 2px solid var(--color-light);
}
#profile-skills.light > div > span {
  border-bottom: 2px solid var(--color-dark);
}
#profile-skills {
  display: flex;
  position: relative;
  top: 400px;
  width: 100%;
}
#profile-skills > :not(:first-child) {
  margin-left: 90px;
}
#profile-skills img {
  height: 70px;
  width: 70px;
}
#profile-skills > div img:not(:first-child) {
  margin-left: 15px;
}
#profile-skills > div > span {
  font-size: 40px;
}
#profile-skills > div > div {
  margin-top: 30px;
}

#profile-skills > :first-child {
  margin-left: 50px;
}
#backend-skills > div :last-child {
  width: 100px;
}
#education > div > span {
  display: block;
}
#education > div > :first-child {
  margin-bottom: 10px;
}
