@import "font.css";

#content {
  flex-direction: column;
  font-family: "Noto Sans KR", sans-serif;
}
#content-project {
  width: 100vw;
  height: 1800px;
}
#content-project > div {
  width: 100vw;
  height: 700px;
  margin-top: 140px;
}
#content-project img {
  border-radius: 20px;
  width: 600px;
  height: 400px;
}
#content.dark .project-info {
  background-color: var(--color-light);
  color: var(--color-dark2);
  box-shadow: 5px 7px 20px #070b18;
}
#content.light .project-info {
  background-color: var(--color-dark);
  color: var(--color-light);
  box-shadow: 5px 7px 20px rgba(14, 21, 45, 0.3);
}
.project-info {
  display: flex;
  align-items: center;
  width: 1300px;
  height: 600px;
  border-radius: 25px;
}
#content.dark .project-image img {
  box-shadow: 5px 7px 20px rgba(14, 21, 45, 0.3);
}
#content.light .project-image img {
  box-shadow: 5px 7px 20px #070b18;
}
.project-image {
  margin: 0 50px;
  width: 600px;
  height: 400px;
}
.project-info_text {
  display: flex;
  flex-direction: column;
  font-size: 20px;
}
.project-info_text > :first-child {
  font-size: 30px;
  font-family: "Roboto", "Noto Sans KR", sans-serif;
  font-weight: 600;
}
.project-info_text span {
  margin-bottom: 30px;
}
.project-link {
  display: flex;
  width: 500px;
  flex-wrap: wrap;
}
.project-link > :first-child {
  margin-right: 30px;
  margin-bottom: 10px;
}
#content.dark .project-info a {
  background-color: var(--color-dark2);
  color: var(--color-light);
  box-shadow: 5px 7px 20px rgba(14, 21, 45, 0.3);
}
#content.light .project-info a {
  background-color: var(--color-light);
  color: var(--color-dark2);
  box-shadow: 5px 7px 20px #070b18;
}

.project-info_text a {
  width: 190px;
  height: 40px;
  border-radius: 25px;
  font-family: "Noto Sans KR";
  font-size: 25px;
  text-shadow: rgb(0 0 0 / 25%) 1px 0 8px;
  padding-bottom: 5px;
  cursor: pointer;
  color: var(--color-light);
}
/* .project-info_text a div {
  height: 40px;
  width: 270px;
  border-radius: 25px;
  z-index: -1;
  padding-bottom: 5px;
  background-color: #6747aa;
} */
/* #content-home {
  width: 100vw;
  height: 962px;
} */
#content-profile {
  display: flex;
  width: 100vw;
  height: 885px;
}

/* #content.dark #mini-profile {
  border-right: 2px solid var(--color-light);
}
#content.light #mini-profile {
  border-right: 2px solid var(--color-dark);
} */
#mini-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 450px;
  height: 100%;
}
#mini-profile > img {
  width: 230px;
  height: 240px;
  border-radius: 50%;
  margin: 150px 0 15px 0;
}
#content.shadow.dark #mini-profile > img {
  box-shadow: 5px 7px 20px #070b18;
}
#content.shadow.light #mini-profile > img {
  box-shadow: 5px 7px 20px rgba(14, 21, 45, 0.3);
}
#mini-profile_text {
  display: flex;
  flex-direction: column;
  font-size: 17px;
  text-align: left;
  margin-bottom: 40px;
}
#mini-profile_text :first-child {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 30px;
}
#mini-profile_text :nth-child(6),
#mini-profile_text :nth-child(7) {
  margin-bottom: 4px;
}
#content.dark #mini-profile svg {
  color: var(--color-light);
}
#content.light #mini-profile svg {
  color: var(--color-dark);
}
#content.shadow.dark #mini-profile svg {
  box-shadow: 5px 7px 20px #070b18;
}
#content.shadow.light #mini-profile svg {
  box-shadow: 5px 7px 20px rgba(14, 21, 45, 0.3);
}
#mini-profile_icon {
  display: flex;
}
#mini-profile_icon li {
  margin-right: 9px;
}
#mini-profile_icon :nth-child(2) {
  cursor: pointer;
}
#mini-profile_icon svg {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

#profile {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  margin-top: 100px;
}

#content.dark #profile_skills > div > span {
  border-bottom: 2px solid var(--color-light);
}
#content.light #profile_skills > div > span {
  border-bottom: 2px solid var(--color-dark);
}
#profile_skills {
  display: flex;
  position: relative;
  top: 450px;
  width: 100%;
}
#profile_skills > :first-child {
  margin-left: 50px;
}
#profile_skills > :not(:first-child) {
  margin-left: 80px;
}
#profile_skills img {
  height: 70px;
  width: 70px;
  margin-right: 15px;
}
#profile_skills > div > span {
  font-size: 40px;
}
#profile_skills > div > ul {
  margin-top: 30px;
}

#frontend-skills ul,
#backend-skills ul,
#programs ul {
  width: 290px;
  display: flex;
  flex-wrap: wrap;
}
#backend-skills > div :nth-child(3) {
  width: 100px;
}
#education > div {
  width: 200px;
}
#education > div > :first-child {
  margin-bottom: 10px;
}
#education > div > span {
  display: block;
}

#content-interactives {
  width: 100vw;
  height: 100vh;
}
#interactives-link {
  margin-top: 100px;
  flex-direction: column;
}
#interactives-link a {
  color: var(--color-light);
  margin-top: 30px;
}
