#main.light {
  color: var(--color-dark);
}
#darkmode_switch.light {
  border-color: var(--color-dark);
}
#darkmode_button.light {
  background-color: var(--color-dark);
}
#darkmode_icon.light {
  color: var(--color-dark);
}
#main-cube.light {
  border-color: var(--color-dark);
}
#main-cube.light div {
  border-color: var(--color-dark);
}
