@import "animation/keyframes.css";

#main {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
  min-width: 100vw;
  align-items: center;
  justify-content: center;
  top: -200px;
}

#main-name-con {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}
.main-name {
  opacity: 0;
  font-size: 90px;
  letter-spacing: 10px;
}
#main-name_first {
  margin-right: 50px;
}
#main-portfolio-con {
  display: flex;
  font-family: cursive;
  letter-spacing: 4px;
  font-size: 30px;
  overflow: hidden;
}

#main-dark {
  display: flex;
  position: fixed;
  top: 0px;
  right: 0px;
  margin: 5px 5px 0px 0px;
  align-items: center;
}
#main-dark_switch {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 80px;
  height: 40px;
  border-radius: 35px;
  border: 2px solid;
}
#main-dark_button {
  position: absolute;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  top: 2.45px;
}
#main-dark_button.light {
  left: 42px;
  transition: left 0.2s ease-in-out;
}
#main-dark_button.dark {
  left: 2px;
  transition: left 0.2s ease-in-out;
}
#main-dark_icon {
  font-size: 30px;
  margin-right: 5px;
}
