@import "animation/keyframes.css";

@import "font.css";

main {
  flex-direction: column;
  width: 100%;
  height: 885px;
}

.main-name {
  font-size: 90px;
  letter-spacing: 10px;
}
#main-name-con {
  display: flex;
  margin-bottom: 20px;
  animation: fadeIn 1s ease-in-out forwards;
  z-index: 999;
}
#main-name_first {
  display: flex;
}
#main-name_second {
  margin-left: 50px;
}
#main-name_first.logo {
  animation: logo 1.5s ease-in-out forwards;
  animation-delay: 0.1s;
}

.main-portfolio {
  transform: translateY(-50px);
  animation: down 1s ease-in-out forwards;
}
#main-portfolio-con {
  display: flex;
  font-family: cursive;
  letter-spacing: 4px;
  font-size: 30px;
  overflow: hidden;
  margin-bottom: 150px;
}
#main-portfolio_p {
  animation-delay: 0.3s;
}
#main-portfolio_o1 {
  animation-delay: 0.4s;
}
#main-portfolio_r {
  animation-delay: 0.5s;
}
#main-portfolio_t {
  animation-delay: 0.6s;
}
#main-portfolio_f {
  animation-delay: 0.7s;
}
#main-portfolio_o2 {
  animation-delay: 0.8s;
}
#main-portfolio_l {
  animation-delay: 0.9s;
}
#main-portfolio_i {
  animation-delay: 1s;
}
#main-portfolio_o3 {
  animation-delay: 1.1s;
}

main.light #start-button {
  color: var(--color-light);
  background-color: #111626;
}
main.light #start-button_background {
  background-color: #471b9f;
}
#start-button {
  position: relative;
  bottom: 100px;
  width: 270px;
  height: 40px;
  border-radius: 25px;
  font-family: "Noto Sans KR";
  font-size: 25px;
  text-shadow: rgb(0 0 0 / 25%) 1px 0 8px;
  padding-bottom: 5px;
  cursor: pointer;
  background-color: #212a47;
}
#start-button div {
  height: 40px;
  width: 270px;
  border-radius: 25px;
  position: absolute;
  bottom: -2px;
  left: 2px;
  z-index: -1;
  padding-bottom: 5px;
  background-color: #6747aa;
}
