@import "reset.css";
@import "variables.css";
@import "main.css";
@import "start.css";
@import "content.css";
@import "header.css";
@import "font.css";

.dark {
  color: var(--color-light);
}
.light {
  color: var(--color-dark);
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.transparent {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}
.visible {
  opacity: 100%;
  transition: opacity 0.2s ease-in-out;
}
.hidden {
  display: none;
}
.bar {
  border-bottom: 3px solid var(--color-light);
}

* {
  user-select: none;
}
a {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  width: 15px;
}
body::-webkit-scrollbar-thumb {
  height: 30%; /* 스크롤바의 길이 */
}
body.dark::-webkit-scrollbar-thumb {
  background: var(--color-dark2);
}
body.light::-webkit-scrollbar-thumb {
  background: var(--color-dark);
}
body.dark {
  background-color: var(--color-dark);
}
body.light {
  background-color: var(--color-light);
}
