@keyframes down {
  50% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes up {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-150px);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
@keyframes content-fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}
@keyframes fadeOut-topToBottom {
  0% {
    clip-path: inset(0 0 0 0);
  }
  80% {
    clip-path: inset(100% 0 0 0);
  }
  100% {
    clip-path: inset(100% 0 0 0);
  }
}

@keyframes fadeIn-bottomToTop {
  0% {
    clip-path: inset(100% 0 0 0);
  }
  80% {
    clip-path: inset(0 0 0 0);
  }
  100% {
    clip-path: inset(0 0 0 0);
  }
}

@keyframes rotateAfterReveal {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(-10deg);
  }
}

/* 기존 메인화면 애니메이션 */
/* @keyframes logo {
  0% {
    transform: translateX(0);
  }
  30% {
    font-size: inherit;
    transform: translateY(-295%);
  }
  60% {
    font-size: 45px;
    transform: translate(-463%, -295%);
  }
  100% {
    font-size: 45px;
    transform: translate(-463%, -295%) rotateZ(-10deg);
  }
} */
