@keyframes down {
  50% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes up {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-150px);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
@keyframes logo {
  0% {
    transform: translateX(0);
  }
  30% {
    font-size: inherit;
    transform: translateY(-338px);
  }
  60% {
    font-size: 45px;
    transform: translate(-608px, -338px);
  }
  100% {
    font-size: 45px;
    transform: translate(-608px, -338px) rotateZ(-10deg);
  }
}
